<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <div>
        <button v-on:click="increment">Click me!</button>
        <span>{{ counter }}</span>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            title: 'Hola!',
            counter: 0
          };
        },
        methods: {
          increment() {
            this.counter += 1;
          }
        }
      });

      app.mount('#app');
    </script>
  </body>
</html>
